<div class="before-footer-container bg-transparent"></div>
<footer class="footer bg-dark mt-auto">
  <div class="container py-5">
    <div class="row">
      <div
        class="
          col-12 col-md-6 col-lg-3
          mb-1
          order-2 order-md-1
          text-center text-md-start
        "
      >
        <span class="small text-white"
          >&copy; 2021 Left Final Aircraft Leasing, LLC</span
        >
      </div>
      <div
        class="
          col-12 col-md-6 col-lg-4
          offset-lg-5
          order-1 order-md-2
          text-decoration-none text-white text-center text-md-start
        "
      >
        <div>
          <img
            src="/images/envelope-fill.svg"
            alt="Email"
            width="24"
            height="24"
          />
          leftfinalaircraftleasing@gmail.com
        </div>
        <div>
          <img
            src="/images/f_logo_RGB-White_114.png"
            alt="Facebook"
            width="24"
            height="24"
          />
          <a
            href="https://www.facebook.com/profile.php?id=100072694620650"
            class="text-decoration-none text-white"
            >facebook.com/100072694620650</a
          >
        </div>
      </div>
    </div>
  </div>
</footer>
