<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
      <img src="/images/logo.svg" height="64" alt="" srcset="" />
      <span class="d-none d-md-inline padding-left-2"
        >Left Final Aircraft Leasing</span
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="#home">Home</a>
        <a class="nav-link active" href="#faq">FAQ</a>
        <a class="nav-link active" href="#garmin">Garmin Avionics in N7923B</a>
        <a class="nav-link active" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
