<% layout('/partials/boilerplate') %>
<div>
  <div class="paral paralsec1 mt-5">
    <div id="home" class="container-fluid">
      <div class="row pt-5">
        <div class="paral-title">
          <h1 class="">Cessna 172 Skyhawk For Rent</h1>
          <h2 class="">Hourly rentals offered in Logan, Utah</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div id="faq" class="container-fluid pt-5 pb-5 bg-dark">
    <h2 class="display-5 text-white mb-3 text-center">
      Frequently Asked Questions
    </h2>
    <div class="row justify-content-center">
      <div class="col col-md-8 col-lg-6 offset-auto">
        <div class="accordion" id="accordionFAQ">
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
              >
                How much does it cost to rent from Left Final Aircraft Leasing?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                The cost to rent the Cessna 172 (Tail Number N7923B) is $100 per
                engine hour.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                Does the rental rate include fuel?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                No. The rental rate is a "dry" rate. Renters are responsible for
                refueling the plane at their expense at the conclusion of each
                rental.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                Does Left Final Aircraft Leasing provide insurance coverage?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                No. Left Final Aircraft Leasing does <strong>NOT</strong> provide
                insurance coverage. Renters are responsible for any damage or
                injury to the aircraft, other people, and other people's property
                caused by the renter's operation of the aircraft. If a renter
                wishes to have insurance coverage, they are responsible for
                purchasing the coverage on their own.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                How do I get started renting from Left Final Aircraft Leasing?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                A check-out ride is required prior to any rentals on your own.
                Contact us at <email>leftfinalaircraftleasing@gmail.com</email> to
                schedule your check-out ride.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                Does Left Final Aircraft Leasing offer flight instruction?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                No. Left Final Aircraft Leasing does not offer flight instruction.
                Students may receive instruction in the plane from a properly
                licensed CFI, but Left Final Aircraft Leasing does not offer or
                arrange for flight instruction services.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingSix">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSix"
                aria-expanded="false"
                aria-controls="collapseSix"
              >
                Is N7923B approved for IMC flight??
              </button>
            </h2>
            <div
              id="collapseSix"
              class="accordion-collapse collapse"
              aria-labelledby="headingSix"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                Yes. N7923B is equipped and approved for IMC flight. Renters using
                N7923B for IMC flight must have proper, current IFR to fly N7923B
                in IMC.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingSeven">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseSeven"
                aria-expanded="false"
                aria-controls="collapseSeven"
              >
                Where is the plane located?
              </button>
            </h2>
            <div
              id="collapseSeven"
              class="accordion-collapse collapse"
              aria-labelledby="headingSeven"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                N7923B is located at LGU in Logan, Utah.
              </div>
            </div>
          </div>
  
          <div class="accordion-item faq-accordian-item">
            <h2 class="accordion-header" id="headingEight">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseEight"
                aria-expanded="false"
                aria-controls="collapseEight"
              >
                What if I have a different question?
              </button>
            </h2>
            <div
              id="collapseEight"
              class="accordion-collapse collapse"
              aria-labelledby="headingEight"
              data-bs-parent="#accordionFAQ"
            >
              <div class="accordion-body">
                If your question was not answered above, please contact us at
                leftfinalaircraftleasing@gmail.com.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="paral paralsec2">
    <div id="garmin" class="container-fluid pt-5 pb-5">
      <div class="row">
        <h2 class="display-5 paral-title">Garmin Avionics in N7923B</h2>
      </div>
  
      <div
        class="
          row row-cols-1 row-cols-md-2
          align-items-center
          justify-content-around
        "
      >
        <div class="col-md-4">
          <div class="card mb-2">
            <img
              src="/images/c16844_9cefd57d62e24796840212c6379b9abe_mv2.webp"
              alt=""
              srcset=""
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title">Touchscreen Garmin GPS 175 with WAAS</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-2">
            <img
              src="/images/c16844_83157f1ef47941c4900df1b0afe6a911_mv2.webp"
              alt=""
              srcset=""
              class="card-img-top"
            />
            <div class="card-body">
              <h6 class="card-title">Garmin GDL 52 provides ADBS-IN and Sirius XM Weather to Foreflight and Garmin apps on iPad</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="contact" class="container-fluid pt-5 pb-5">
    <h2 class="text-center">Contact Us</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="card shaddow mb-3">
          <div class="card-body">
            <form
              action="/"
              method="POST"
              class="validated-form"
              id="contactForm"
              novalidate
            >
              <div class="form-floating mb-2">
                <input
                  type="text"
                  class="form-control"
                  name="contact[contactName]"
                  id="contactName"
                  placeholder="Pete Mitchell"
                  required
                />
                <label for="contactName">Name</label>
              </div>
              <div class="form-floating mb-2">
                <input
                  type="email"
                  class="form-control"
                  name="contact[contactEmail]"
                  id="contactEmail"
                  placeholder="pmitchell@topgun.com"
                  required
                />
                <label for="contactEmail">Email</label>
              </div>
              <div class="form-floating mb-2">
                <select
                  name="contact[contactSubject]"
                  id="contactSubject"
                  class="form-select"
                  aria-label="Message Subject"
                  required
                >
                  <option selected>How may we assist you?</option>
                  <option value="rent">I want to rent the aircraft</option>
                  <option value="question">I have a question</option>
                  <option value="other">Other</option>
                </select>
                <label for="contactSubject">Message Subject</label>
              </div>
              <div class="form-floating mb-2">
                <textarea
                  class="form-control"
                  name="contact[contactMessage]"
                  id="contactMessage"
                  placeholder="Message"
                ></textarea>
                <label for="contactMessage">Message</label>
              </div>
              <button type="submit" class="btn btn-dark float-end">Submit</button>
            </form>
            <div id="flash-msg">
              <% if (msg === 'success') { %>
              <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
              >
                <h4 class="alert-heading">Thank you for contacting us.</h4>
                <p>We will be in touch shortly.</p>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <% } else if (msg === 'error') { %>
              <div
                class="alert alert-danger alert-dismissible fade show"
                role="alert"
              >
                <h4 class="alert-heading">Oops! Something went wrong.</h4>
                <p>Please contact us at leftfinalaircraftleasing@gmail.com.</p>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                ></button>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  const contactForm = document.getElementById('contactForm')

  function submitForm(event) {
    event.preventDefault()
    const contactName = contactForm.contactName.value
    const contactEmail = contactForm.contactEmail.value
    const contactSubject = contactForm.contactSubject.value
    const contactMessage = contactForm.contactMessage.value
    console.log(contactName, contactEmail, contactSubject, contactMessage)
    contactForm.reset()
  }

  contactForm.addEventListener('submit', submitForm)
</script> -->

<!-- <script src="/javascripts/submitForm.js" type="module"></script> -->
<!-- <script>
  document.getElementById('contactForm').onsubmit = setTimeout(function () {
    window.location.reload()
  }, 10)
</script> -->

<script>
  const flashMsg = document.getElementById('flashMsg')
  const successMsg =
    '<div class="alert alert-success alert-dismissible fade show" role="alert"><h4 class="alert-heading">Thank you for contacting us.</h4><p>We will be in touch shortly.</p><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
  const errorMsg =
    '<div class="alert alert-danger alert-dismissible fade show" role="alert"><h4 class="alert-heading">Oops! Something went wrong.</h4><p>Please contact us at leftfinalaircraftleasing@gmail.com.</p><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

  window.addEventListener('storage', function (e) {
    if (e.storageArea === sessionStorage && sessionStorage.getItem('msg')) {
      if (sessionStorage.getItem('msg') === 'success') {
        flashMsg.innerHTML = successMsg
      } else if (sessionStorage.getItem('msg') === 'error') {
        flashMsg.innerHTML = errorMsg
      }
    }
  })
</script>
